body{
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    /* background-image: url("images/K&CBackground.jpg"); */
    background-color: #1f2833;
    color: white;
}
h2{
    margin-bottom: 40px;
    color: #66FCF1;
}
#navLogo{
    height: 80px;
    width: 80px;
}
.navbar{
    font-size: 20px;  
    background-color: black;  
}
/* Home page--------------------------- */
.homeTitles{    
    height: 150px;            
    background-color: #C5C6C7;
    font-size: 40px;
}
.homeTitles h2{
    font-size: 45px;
}
.homeImage{
    position: relative;    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
/* Running Image */
#homeImage1{
    background-image: url("images/stock1.jpg");
}
/* Hockey Image */
#homeImage2{
    background-image: url("images/stock4.jpg");
}
/* Volleyball Image */
#homeImage3{
    background-image: url("images/stock3.jpg");
}
/* Basketball Image */
#homeImage4{
    background-image: url("images/stock2.jpg");
}
/* Baseball Image */
#homeImage5{
    background-image: url("images/stock5.jpg");
}
/* Badminton Image */
#homeImage6{
    background-image: url("images/stock6.jpg");
}
/* Tennis Image */
#homeImage7{
    background-image: url("images/stock7.jpg");
}
/* Products page-------------------------------- */
#filterDiv{
    float: left;
    width: 20%;        
    color: #66FCF1;
    border: 1px solid #66FCF1;
    border-top: none;
    border-left: none;
}
#filterDiv table{
    width: 100%;    
}
#filterDiv td:nth-child(2){
    text-align: left;
}
#filterDiv td:nth-child(1){    
    width: 45%;
    text-align: right;       
}
#filterDiv th{
    padding-top: 20px;
}
#filterDiv input[type=submit]{
    background-color: #45A29E;
    border: 1px #45A29E;
    color: white;
}
#searchDiv{
    width: 80%;
    height: 80px;    
    float: right;
    color: #66FCF1;
    border-bottom: 1px solid #66FCF1;      
    position: relative;
}
#searchBar{
    bottom: 10px;    
    right: 20px;
    position: absolute;
}
#searchBar input[type=submit]{
    background-color: #45A29E;
    border: #45A29E 1px solid;
    color: white;
}
#filterList{
    bottom: 10px;
    left: 20px;
}
#productsDiv{
    margin-left: 20%;
    margin-top: 80px;
    width: 80%;    
}
#productsDiv table{
    width: 100%;
}
.productBox{
    width: 200px;
    height: 300px;    
    position: relative;    
}
.productPreview{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.productBox button:hover{
    transition: 0.25s;
    background-color: #1f2833;
}

/* Product Details Page */
#pdDetailsContainer{
    height: 500px;
    width: 75%;
    margin: auto;
    margin-top: 20px;
}
#productDetailImgDiv{
    height: 100%;
    width: 51%;
    border: 1px red solid;
    margin-bottom: 30px;    
    background-color: #fff;
    float: left;
}
#productDetailImgDiv img{
    height: 100%;
}
#productPurchasingInfo{
    position: relative;
    height:100%;
    width:30%;    
    border: 1px solid green;
    float:right;    
}
#productPurchasingInfo a{
    position: absolute;
    bottom: 30px;
    right: 30px;
}
#productPurchasingInfo p{
    font-size: 30px;
}
#productDetails{
    clear: both;
    width: 100%;
    border-top: 5px solid #45A29E;
}