body{
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    /* background-image: url("images/K&CBackground.jpg"); */
    background-color: #1f2833;
    color: white;
}
h2{
    margin-bottom: 40px;
    color: #66FCF1;
}
#navLogo{
    height: 80px;
    width: 80px;
}
.navbar{
    font-size: 20px;  
    background-color: black;  
    position: relative;
}
.log{
    position: absolute;
    right: 2.5%;
    top: 40px;
}
#cartNav{
    color: white;
    position: absolute;
    right: 11%;
}
#cartNav:hover{
    text-decoration: none;
    transition: 0.1s;
    color: #45A29E;
}

/* Home page--------------------------- */
.homeTitles{    
    height: 150px;            
    background-color: #C5C6C7;
    font-size: 40px;
}
.homeTitles h2{
    font-size: 45px;
}
.homeImage{
    position: relative;    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
/* Running Image */
#homeImage1{
    background-image: url("images/stock1.jpg");
}
/* Hockey Image */
#homeImage2{
    background-image: url("images/stock4.jpg");
}
/* Volleyball Image */
#homeImage3{
    background-image: url("images/stock3.jpg");
}
/* Basketball Image */
#homeImage4{
    background-image: url("images/stock2.jpg");
}
/* Baseball Image */
#homeImage5{
    background-image: url("images/stock5.jpg");
}
/* Badminton Image */
#homeImage6{
    background-image: url("images/stock6.jpg");
}
/* Tennis Image */
#homeImage7{
    background-image: url("images/stock7.jpg");
}
/* Products page-------------------------------- */
#filterDiv{
    float: left;
    width: 20%;        
    color: #66FCF1;
    border: 1px solid #66FCF1;
    border-top: none;
    border-left: none;
}
#filterDiv table{
    width: 100%;    
}
#filterDiv td:nth-child(2){
    text-align: left;
}
#filterDiv td:nth-child(1){    
    width: 45%;
    text-align: right;       
}
#filterDiv th{
    padding-top: 20px;
}
#filterDiv input[type=submit]{
    background-color: #45A29E;
    border: 1px #45A29E;
    color: white;
}
#searchDiv{
    width: 80%;
    height: 80px;    
    float: right;
    color: #66FCF1;
    border-bottom: 1px solid #66FCF1;      
    position: relative;
}
#searchBar{
    bottom: 10px;    
    right: 20px;
    position: absolute;
}
#searchBar input[type=submit]{
    background-color: #45A29E;
    border: #45A29E 1px solid;
    color: white;
}
#filterList{
    bottom: 100px;
    left: 20px;    
}
#productsDiv{
    margin-left: 20%;
    margin-top: 80px;
    width: 80%;    
}
#productsDiv table{
    width: 100%;
}
.productBox{
    width: 200px;
    height: 300px;    
    position: relative;    
    padding-top: 10px;
}
.productPreview{
    width: 200px;
    height: 200px;
    object-fit: cover;    
}
.productBox img:hover{
    transition: 0.25s;
    opacity: 0.5;
}

/* Product Details Page */
#goBackToProduct{
    color: #66FCF1;
    text-align: left;    
}
#goBackToProduct:hover{
    transition: 0.25s;
    color: #45A29E;
    text-decoration: none;
}
#goBackToProduct i{
    margin-right: 10px;
}
#pdDetailsContainer{
    height: 550px;    
    padding: 0px 12.5% 50px 12.5%;    
    margin: 20px auto 0px auto;    
    border-bottom: 5px solid #45A29E;    
}
#productDetailImgDiv{
    height: 100%;
    width: 68%;    
    margin-bottom: 30px;    
    background-color: #fff;
    float: left;
}
#productDetailImgDiv img{
    height: 100%;    
}
#productPurchasingInfo{
    position: relative;
    height:500px; 
    width:30%;        
    float:right;    
}
#productPurchasingInfo input{  
    position: absolute;          
    bottom: 10px;
    right: 10px;
    background-color: #45A29E;
    border: 1px solid #45A29E;
    color: white;
    height: 8%;
    width: 20%;
}
#productPurchasingInfo p{
    font-size: 30px;
}
#productQuantity{
    display: inline-block;
}
#productQuantity input{
    width: 20%;
    text-align: center;
    margin-top: 30%;
}

#productDetails{
    width: 60%;    
    margin: auto;    
    text-align: left;
}
#productDetails h3{
    color: #66FCF1;
}
#productDetails p{
    margin-left: 3%;
    margin-bottom: 30px;
    font-family: sans-serif;
}

/* Promotions Page */
#promotionsTable{
    width: 60%;    
    margin: auto;
}
#promotionsTable td{
    padding-bottom: 10%;
}
.emptyCell{
    width: 20%;
}
.promotionTitle{
    background-color: black;
    color: #45A29E;
}
/* Dashboard */
.left{
    float: left;
    width: 40%;
    /* border: #45A29E 1px solid; */
}
div.right{
    width: 60%;
    height: 600px;
    float: right;
    border: #45A29E 1px solid;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
}
.profile{
    color: #66FCF1;
    font-size: 1em;
}
.profileHead{
    color: #66FCF1;
}

#pastOrders{
    color: #66FCF1;
}

/* Cart Page*/
#cartContents{
    color: white;
    width: 60%;
    height: 500px;
    border: 1px solid #66FCF1;    
    margin: 5% auto;
    font-size: 20px;
    overflow-x: hidden;
    overflow-y: scroll;    
    display: block;    
}
.cartItemImg{
    height: 150px;
    padding-bottom: 20px;
    margin: auto;
}
.cartItemName{
    width: 20%;
}
/* Edit Cart Page*/
.editCartItemContainer{
    width: 60%;    
    margin: auto;    
}
.editCartItemContainer p{
    color: #66FCF1;
    font-size: 20px;
}
#modifyItem{
    margin-right: 5%;
}
#editCartQuantity{
    margin-bottom: 5%;
    text-align: center;
    border: #66FCF1 3px solid;
}